<?xml version="1.0"?>
<!DOCTYPE module PUBLIC
    "-//Puppy Crawl//DTD Check Configuration 1.2//EN"
    "http://www.puppycrawl.com/dtds/configuration_1_2.dtd">
<!-- Checkstyle Configuration -->
<module name="Checker">
    <module name="SuppressionCommentFilter"/>
    <module name="SuppressWithNearbyCommentFilter">
        <property name="commentFormat" value="CHECKSTYLE\:NOJAVADOC" />
        <property name="checkFormat" value=".*Javadoc.*" />
        <property name="influenceFormat" value="3" />
    </module>

    <module name="SuppressionCommentFilter">
         <property name="offCommentFormat" value="CHECKSTYLE\:ALLOW_READABLE_INDENT"/>
         <property name="onCommentFormat" value="CHECKSTYLE\:USE_ASSEMBLER_INDENT"/>
         <property name="checkFormat" value="Indentation"/>
    </module>

    <module name="RegexpSingleline">
        <property name="severity" value="error" />
        <property name="format" value="\.printStackTrace\(\)" />
        <property name="message" value="Avoid exception.printStackTrace(), use a proper logger instead." />
    </module>

    <module name="FileTabCharacter"/>
    <module name="FileLength"/>

    <module name="TreeWalker">

        <module name="SuppressWarningsHolder" />

        <module name="FileContentsHolder"/>
        
        <module name="JavadocMethod">
            <property name="scope" value="public"/>
            <property name="allowMissingReturnTag" value="true"/>
            <property name="allowMissingThrowsTags" value="true"/>
        </module>

        <module name="JavadocType">
            <property name="scope" value="public"/>
        </module>

        <module name="JavadocStyle">
            <property name="checkHtml" value="false"/>
        </module>
       
        <module name="Indentation">
            <property name="basicOffset" value="4" />
            <property name="caseIndent" value="4" />
        </module>

        <module name="CyclomaticComplexity">
            <property name="severity" value="warning" />
            <property name="max" value="32"/>
        </module>

        <module name="JavaNCSS">
            <property name="methodMaximum" value="115"/>
        </module>
                
        <module name="LocalFinalVariableName"/>
        <module name="LocalVariableName">
            <property name="format" value="^[a-z](_?[a-zA-Z0-9]+)*$"/>
        </module>
        <module name="MemberName"/>
        <module name="MethodName"/>
        <module name="PackageName"/>
        <module name="ParameterName"/>
        <module name="StaticVariableName"/>
        <module name="TypeName"> 
            <!-- Allow underscores in type names. (Not according to Sun's ideas) -->
            <!-- <property name="format" value="^[A-Z](_?[a-zA-Z0-9]+)*$"/> -->
        </module>

        <module name="AvoidStarImport"/>
        <module name="IllegalImport"/>
        <module name="RedundantImport"/>
        <module name="UnusedImports"/>
        <module name="ImportOrder">
            <property name="groups" value="java,javax,org,com" />
            <property name="option" value="top" />
        </module>

        <module name="LineLength">
            <property name="max" value="197"/>
            <property name="ignorePattern" value="^ *\* *(([^ ]+)|(.*\$.+\$))$"/>
        </module>
        <module name="ExecutableStatementCount">
            <property name="max" value="45"/>
            <property name="tokens" value="METHOD_DEF"/> 
        </module>
        <module name="ExecutableStatementCount">
            <property name="max" value="12"/>
            <property name="tokens" value="CTOR_DEF"/>
        </module>
        <module name="ExecutableStatementCount">
            <property name="max" value="20"/>
            <property name="tokens" value="INSTANCE_INIT,STATIC_INIT"/>
        </module>
        
        <module name="MethodLength"/>
        <module name="AnonInnerLength"/>
        <module name="ParameterNumber">
            <property name="max" value="9"/>
            <property name="tokens" value="METHOD_DEF"/>
        </module>
        <module name="ParameterNumber">
            <property name="max" value="9"/>
            <property name="tokens" value="CTOR_DEF"/>
        </module>
        <module name="OuterTypeNumber"/>

        <module name="GenericWhitespace"/>
        <module name="EmptyForInitializerPad"/>
        <module name="EmptyForIteratorPad"/>
        <module name="MethodParamPad"/>
        <module name="OperatorWrap"/> 
        <module name="TypecastParenPad"/>

        <module name="ModifierOrder"/>
        <module name="RedundantModifier"/>

        <module name="AvoidNestedBlocks"/>
        <module name="EmptyBlock">
            <property name="option" value="stmt"/>
            <property name="tokens" value="LITERAL_DO, LITERAL_ELSE,
                                           LITERAL_IF, LITERAL_FOR,
                                           LITERAL_TRY, LITERAL_WHILE,
                                           INSTANCE_INIT, STATIC_INIT,
                                           LITERAL_FINALLY "/> 
        </module>
        <module name="EmptyBlock">
            <property name="option" value="text"/>
            <property name="tokens" value="LITERAL_CATCH"/>
        </module> 

        <module name="ArrayTrailingComma"/>
        <module name="ModifiedControlVariable"/>
        <module name="StringLiteralEquality"/>
        <module name="NestedTryDepth">
            <property name="max" value="1"/>
        </module>
        <module name="NoClone"/>
        <module name="NoFinalizer"/>
        <module name="SuperClone"/>
        <module name="SuperFinalize"/>
        <module name="IllegalType"/>
        <module name="DeclarationOrder" />
        <module name="CovariantEquals"/>
        <module name="EmptyStatement"/>
        <module name="EqualsAvoidNull"/>
        <module name="EqualsHashCode"/>
        <module name="FinalLocalVariable" />
        <module name="HiddenField"> 
            <property name="tokens" value="VARIABLE_DEF"/>
        </module>
        <module name="IllegalCatch" />
        <module name="IllegalInstantiation"/>
        <module name="MissingSwitchDefault"/>
        <module name="IllegalThrows" />
        <module name="ThrowsCount">
            <property name="max" value="1"/>
        </module>
        <module name="UnnecessaryParentheses" />
        <module name="MultipleVariableDeclarations"/>
        <module name="ExplicitInitialization"/>
        <module name="FallThrough"/>
        
        
        <module name="SimplifyBooleanExpression"/>
        <module name="SimplifyBooleanReturn"/>
        <module name="BooleanExpressionComplexity"/>

        <module name="DesignForExtension"/>
        <module name="FinalClass"/>
        <module name="HideUtilityClassConstructor"/>
        <module name="InterfaceIsType"/>
        <module name="VisibilityModifier">
            <property name="packageAllowed" value="true"/>
        </module>
        <module name="MutableException"/>

        <module name="ClassDataAbstractionCoupling">
            <!-- Bring this number down. -->
            <property name="max" value="8"/>
        </module>
        <module name="ClassFanOutComplexity">
            <!-- Bring this number down, well below 20. -->
            <property name="max" value="31"/>
        </module>
        
        <module name="UpperEll"/>
        <module name="UncommentedMain">
            <property name="excludedClasses" value="exercisers..*" />
        </module>
        <module name="ArrayTypeStyle"/>
        <module name="FinalParameters"/>
        
        <module name="TodoComment"/>
        
    </module>
</module>
